<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/metro.css" rel="stylesheet">
    <link href="css/metro-icons.css" rel="stylesheet">
    <link href="css/metro-responsive.css" rel="stylesheet">
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.min.js"></script>
</head>

<body class="bg-grayLighter fg-grayLighter">
    <div class="container" id='app'>
        <div class="row">
            <div class="col-xs-10 col-md-10" style="height: 50px;">
                <h3>
                    <div>

                            <span class="tag tag-pill tag-info bg-darkCobalt fg-white">
                                計時:  {{contestTime}}
                            </span>

                            <div class="pull-right">
                                <span class="tag tag-pill tag-info bg-darkCobalt fg-white">
                                    得分:  {{totalScores}} 
                                </span>
                                <span class="tag tag-pill tag-info bg-darkCobalt fg-white">
                                    正確率:  {{typingAccuracy}} 
                                </span>
                                <span class="tag tag-pill tag-info bg-darkCobalt fg-white">
                                    {{typingRate}} 字/分
                                </span>
                            </div>

                    </div>

                </h3>
            </div>
        </div>
        <div class="col-xs-10 col-md-10 bg-black padding10 block-shadow" style="border:solid 2px gray; border-radius: 5px;">
            <div class="panel">
                <div class="heading bg-darkBlue fg-grayLighter" style="font-family:DFKai-sb,標楷體;">
                    中文打字練習
                </div>
            </div>
            <span style="font-family:DFKai-sb,標楷體;">
                <div v-if="focusLineCollect[currentLine-1]">
                    <span v-html="focusLineCollect[currentLine-1].str" style="font-size: 1em; border-color: gray; border-bottom-style:dashed; ">
                    </span>
        </div>
        <br/>
        <span v-html="focusArticle" class="text-light" style=" font-size: 1em;">
                </span>
        <span v-html="endOfLine"> end of the line (enter key icon) </span>
        </span>
        <br/>
        <textarea v-bind:class="{ 'bg-dark':isEditable, 'fg-white':isEditable, 'bg-gray':!isEditable }" v-bind:value="inputText" v-on:input="inputText = $event.target.value" :disabled="!isEditable" v-on:click="timerCountdown" @keyup.enter="nextLine" @keyup="refreshPage" placeholder='' style="width: 97%; height: 22px; resize: none; boarder:solid 1px gray; font-family:DFKai-sb,標楷體;">
        </textarea>
        <br/>
        <br/>
        <div v-if="focusLineCollect[currentLine+1]">
            <span v-html="focusLineCollect[currentLine+1].str" style="font-size: 1em; font-family:DFKai-sb,標楷體; border-color: gray; border-bottom-style:dashed; ">
                    </span>
        </div>
    </div>
    </div>
    <!-- end of #app -->
    <footer>
        <script>
        "use strict";

        var vm = new Vue({
            el: "#app",
            data: {
                inputText: '請注意,滑鼠在此區點擊後,時間開始計算',
                article: null,
                focusArticle: null,
                focusLineCollect: [],
                inputTextCollect: [],
                currentLine: 0,
                lineLength: 35,
                wordsPerMinutes: 0,
                hasBegun: false,
                contestTime: 300,
                duration: 0,
                accuracy: 0,
                isEditable: true,
            },
            created: function() {
                // console.log('created');
                this.fetchData();
            },
            mounted: function() {
                // console.log('mounted');

            },
            computed: {
                endOfLine: function() {
                    // console.log(this.focusArticle);
                    let eof;
                    if (this.focusArticle) {
                        eof = '<i class="fa fa-hand-o-down" aria-hidden="true"></i>';
                    } else {
                        eof = "error, the article is null.";

                    }
                    return eof;
                },
                typingAccuracy: function() {
                    let totalInputTextLength = this.inputText.length;
                    if (this.inputTextCollect.length > 0) {
                        // console.log(this.inputTextCollect.length)
                        for (let i = 0; i < this.inputTextCollect.length; i++) {
                            // console.log(i + ':' + this.inputTextCollect[i]);
                            // console.log(this.inputTextCollect[i] + ':' + this.inputTextCollect[i].length);
                            let lineLength = this.inputTextCollect[i].length - 1; //最後一個長度為enter
                            totalInputTextLength = totalInputTextLength + lineLength;
                        }
                        // console.log(totalInputTextLength);

                    }
                    this.accuracy = (this.totalScores / totalInputTextLength) * 100;


                    if (totalInputTextLength === 0 || this.duration === 0 || this.totalScores === 0) {
                        this.accuracy = 0;
                    }

                    return this.accuracy.toFixed(0);
                    // return totalInputTextLength;

                },
                //計算打字速度
                typingRate: function() { //每五秒為單位
                    let totalInputTextLength = this.inputText.length;
                    if (this.inputTextCollect.length > 0) {
                        // console.log(this.inputTextCollect.length)
                        for (let i = 0; i < this.inputTextCollect.length; i++) {
                            // console.log(i + ':' + this.inputTextCollect[i]);
                            // console.log(this.inputTextCollect[i] + ':' + this.inputTextCollect[i].length);
                            let lineLength = this.inputTextCollect[i].length - 1; //最後一個長度為enter
                            totalInputTextLength = totalInputTextLength + lineLength;
                        }
                        // console.log(totalInputTextLength);

                    }
                    // console.log(totalInputTextLength);
                    this.wordsPerMinutes = (totalInputTextLength / this.duration) * 60;
                    if (totalInputTextLength === 0 || this.duration === 0) {
                        this.wordsPerMinutes = 0;
                    }
                    return this.wordsPerMinutes.toFixed(0);

                },
                totalScores: function() {
                    let sum = 0;
                    for (var i = 0; i < this.focusLineCollect.length; i++) {
                        sum = sum + this.focusLineCollect[i].scores;
                    }
                    return sum;

                },


            },
            watch: {
                article: function(val, oldVal) {
                    // console.log('new: %s, old: %s', val, oldVal)
                    this.article = val;
                    // console.log('watch');
                    if (this.article.length > 0) {
                        for (let i = 0; i < Math.ceil(this.article.length / this.lineLength); i++) {
                            let obj = {
                                str: String,
                                scores: 0
                            }

                            obj.str = this.article.slice(i * this.lineLength, (i * this.lineLength) + this.lineLength);
                            obj.scores = 0;

                            this.focusLineCollect.push(obj);

                        }
                        this.focusArticle = this.focusLineCollect[0].str;

                    }
                },

            },
            methods: {
                timerCountdown: function() {
                    // console.log(this.hasBegun);
                    if (this.hasBegun == false) { //hasBeun: false  還沒開始
                        this.hasBegun = true;
                        this.inputText = '';
                        //時間計算
                        let i = this.contestTime - 1;
                        let j = this.duration + 1;
                        let isEditable = this.isEditable;
                        const intervalId = setInterval(function() {
                            // console.log("duration: " + j);
                            Vue.set(vm, 'contestTime', i);
                            Vue.set(vm, 'duration', j);
                            i--;
                            j++;
                            if (i < 0) {

                                Vue.set(vm, 'isEditable', false);
                                clearInterval(intervalId);

                            }
                            // console.log(this.$data.contestTime);
                        }, 1000);

                    }



                },
                fetchData: function() {
                    this.$http.get('data.php').then(response => {
                        this.article = response.data.article;
                    });

                },
                nextLine: function() {
                    //輸入行資料存入array
                    this.inputTextCollect[this.currentLine] = this.inputText;
                    this.focusLineCollect[this.currentLine].str = this.focusArticle;
                    // console.log(this.inputTextCollect[this.currentLine]);

                    this.currentLine++;
                    if (this.currentLine < this.focusLineCollect.length) {
                        //更新焦點行內容 
                        this.focusArticle = this.focusLineCollect[this.currentLine].str;
                        this.inputText = '';
                    } else {
                        this.isEditable = false;
                    }

                },

                refreshPage: function() {

                    //任何鍵盤事件都會引發refreshPage, 所以必須確保非null
                    if (this.inputText != null) {
                        if (this.inputText.length <= this.focusLineCollect[this.currentLine].str.length) {
                            this.focusArticle = '';
                            this.replacePunctuation();

                            //輸入字串長度與取出該行題目字串長度一字一字比對,計算得分與標顏色
                            let recallInputChars = this.inputText.slice(0, this.inputText.length);
                            let recallArticleChars = this.focusLineCollect[this.currentLine].str.slice(0, this.inputText.length);

                            //每一次輸入事件都是重頭計算, 分數永遠由０開始
                            this.focusLineCollect[this.currentLine].scores = 0;
                            // console.log(recallArticleChars.length);
                            for (let i = 0; i < recallInputChars.length; i++) {
                                let obj = this.isMatch(recallArticleChars[i], recallInputChars[i]);
                                // console.log(obj)
                                if (obj.expression) {
                                    // console.log(recallInputChars[i]);
                                    this.focusLineCollect[this.currentLine].scores++;
                                }
                                let displayChar = obj.char;
                                this.focusArticle = this.focusArticle + displayChar;

                            }
                            this.focusArticle = this.focusArticle + this.focusLineCollect[this.currentLine].str.slice(this.inputText.length);
                            // console.log(this.focusLineCollect[this.currentLine].scores);

                        }

                    } //if (this.inputText != null)

                },
                isMatch: function(articleChar, inputChar) {
                    let obj = {
                        char: new String(),
                        expression: new Boolean()
                    }

                    if (articleChar === inputChar) {
                        articleChar = '<span class="fg-blue">' + articleChar + '</span>';
                        obj.expression = true;
                    } else {
                        articleChar = '<span style="color:red">' + articleChar + '</span>';
                        obj.expression = false;

                    }
                    obj.char = articleChar;

                    return obj;


                },
                replacePunctuation: function(str) { //置換符號
                    this.inputText = this.inputText.replace(/(\[|\]|:|,|\.)/, function(v) {
                        if (v === ',') {
                            return '，'
                        };
                        if (v === '.') {
                            return '。'
                        };
                        if (v === '!') {
                            return '！'
                        };
                        // if (v === ' ') {
                        //     return '▇'
                        // };
                        if (v === '[') {
                            return '「'
                        };
                        if (v === ']') {
                            return '」'
                        };
                        if (v === ':') {
                            return '：'
                        };
                    });
                },
            }
        });
        </script>
    </footer>
</body>

</html>
